{%load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{%block title%}DonT Work Here {%endblock%}</title>

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
     <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <script type="text/javascript">

        console.log("Saludos")
    </script>

     <script>

    <script type="text/javascript">
    $(document).ready(function(){
        console.log("Hola Mensaje")
        $("#search-video").submit(function(e){
        e.preventDefault();

        $.ajax({
            url:$(this).attr('action'),
            type:$(this).attr('method'),
            data:$(this).serialize(),
            success:function(json){
                console.log(json)
                }
            })
        })
    })

     </script>

<script type="text/javascript">
		$(function(){
			function equalHeight(group) {
				var tallest = 0;
				group.each(function() {
					var thisHeight = $(this).height();
					if(thisHeight > tallest) {
						tallest = thisHeight;
					}
				});
				group.height(tallest);
			}
			equalHeight($(".box-1 .inner"));
            console.log("hola")

			$("#tags3").autocomplete({
				minLength:1,
				source: "/search_ajax/"
			});
        });
	</script>




    <style type ="text/css">
        body{
            text-align:center;
        }

        #page{
        width:960px;
        text-align:left;
        margin:90px auto 20px auto;
        background-color:#0c0c0c;

       }

       #sidebar{
        float:left;
        width:200px;
        border:1px solid #000;
       }

       #content{
        float:left;
        width:600px;
        border:1px solid #f00;
        padding:10px;
        }
    </style>





</head>
<body>
   <header>


    </header>


    <div id="page">
        <div id="sidebar">
            {%block sidebar %}

        <ul>
            <li><a href="/company/all">All Companies</a></li>
            <li><a href="/admin/">Admin</a></li>
            <li><a href="/admin/">Top10</a></li>
            <li><a href="{% url 'create' %}">Register_Complaint</a></li>



        </ul>
        {%endblock%}

    </div>
    <div id="content">
        {% block content %}{%endblock%}
        <IMG SRC="Negreros.jpg"/>
    </div>
    </div>
 <div class="inner">
             <div class="fright">
                 <div class="header-meta">
                     <div class="ui-widget">
				    <label for="tags3">Search_Company: </label>
				    <input id="tags3">
				</div>
                 </div>
             </div>
        </div>

</body>
</html>