{%extends "base.html"%}

{%block sidebar %}
    <ul>
        <li><a href="/company/all">Return</a></li>

    </ul>
{%endblock%}


{%block content%}
<h1>Article {{table.name}}</h1>
<p> {{table.logo}}</p>
<p> {{table.domain}}</p>
<p> {{table.bussiness_type}}</p>
<p> {{table.city}}</p>


{%endblock%}