{% extends "main_box.html" %}

{% block body%}
    <form action="" method='post'>
        {% csrf_token %}
        <p>Are you sure that do you want to delete this complaint for {{object}}?</p>
        <input type="submit" value="Ok">
    </form>
{% endblock body%}