{% extends "main_box.html" %}
{% block body%}
<div>
    <p>Dont be scared, create another complaint <a href="{% url 'create' %}">Click Here</a> </p>

</div>

<div>
    <table>
        <thead>
            <tr>
                <th>Number</th>
                <th>Detail</th>
                <th>Update</th>
                <th>Delete</th>

            </tr>
        </thead>
        <tbody>
            {% for obj in object_list %}
                <tr>
                    <td>{{obj.id}}</td>
                    <td><a href="{% url 'detail' obj.pk %}">Detail</a></td>
                    <td><a href="{% url 'update' obj.pk %}">Update</a></td>
                    <td><a href="{% url 'delete' obj.pk %}">Delete</a></td>
                </tr>

            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock body%}