{%extends "base.html"%}
{%block title%} Dont Work Here More {%endblock%}
{%block content%}
<ul>
{%for name in categories%}
    <li><a href="#">{{name}}</a></li>
{%endfor%}
</ul>
{% for index, companies in data.items %}
    <div id="tap_{{index}}">
        <h1>{{index}}</h1>
        <ul>
            {% for company in companies %}
            <li>{{company.company__name}} ({{company.id__count}})</li>            
            {%endfor%}
        </ul>
    </div>
<hr>

{% endfor %}





{%endblock%}

